@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Telex&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.title {
    font-size: xx-large;
    font-family: 'Telex', sans-serif;
    margin-left: 2%;
}

.subtitle {
    font-size: x-large;
    font-family: 'Telex', sans-serif;
    margin-left: 5%;
    padding: 10px;
}

#topstories {
    font-size: large;
    font-family: 'Telex', sans-serif;
    margin-top: 5px;
    margin-left: 5%;
    text-align: center;
}

.page {
    background-color: #f9f1f2;
    margin: 0;
}

.header {
    background-color: #ae3737;
    padding: 5px;
}

#navbar {
    display: flex;
    font-size: 0;
    font-family: 'Open Sans', sans-serif;
}

#navbar :hover {
    background-color: #cccccc;
}

#navbar li {
    background-color: white;
    font-size: 14px;
    display: inline-block;
    padding: 10px 40px;
    height: 40px;
    border: solid black;
}

#home, #topstories {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: black;
    text-decoration: none;
}

.submitText {
   border: none;
   border-bottom: black solid;
   height: 25px;
}

.submitButton {
   height: 25px;
   font-family: monospace;
}

.newsbox {
    padding: 4px;
}

.newsbox :hover {
    background-color: #cccccc;
}

.newsLink {
    background-color: white;
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
    display: block;
    border: solid black;
    padding: 4px;
    margin: 4px;
    text-decoration: none;
    color: black;
}

.newsDate {
    font-size: small;
}

.footnote {
    font-size: x-small;
    font-family: monospace;
}
